{% extends 'profile/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block main %}
<!--Basic Information-->
<div class="container shadow border-2 border-dark">

    <b class="text-secondary mt-5 ">Basic Information</b><br>
<div id="profile" class="bg-white mt-2 mb-5">
    <div id='basic-information'>
        <form method="POST" enctype="multipart/form-data" action="{% url 'profile_page' %}">
            {% csrf_token %}
            {% bootstrap_form user_form %}
            <input type="hidden" name="action" value="update_profile">
            <button type="submit" class="btn btn-warning">Save</button>
        </form>
    </div>
</div>

<!--Profile image update-->
<b class="text-secondary">Update Profile Image</b><br>
<div class="bg-white mt-2 mb-5">
    <div class=" ">
        <form method="POST" enctype="multipart/form-data" action="{% url 'profile_page' %}">
            {% csrf_token %}
            {{ profile_form.as_p }}
            <input type="hidden" name="action" value="update_profile_image">
            <button type="submit" class="btn btn-warning">Save</button>
        </form>
    </div>
</div>



<!--password information-->
<b class="text-secondary">Change Password</b><br>
<div id="password-form-container"class="bg-white mt-2 mb-5"> <!-- Adjust the width value as needed -->
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data" action="{% url 'profile_page' %}">
            {% csrf_token %}
            {% bootstrap_form password_form %}
            <input type="hidden" name="action" value="update_password">
            <button type="submit" class="btn btn-warning">Save</button>
        </form>
    </div>
</div>
</div>


<script>
        document.addEventListener('DOMContentLoaded', function() {
            // Function to remove focus from all input fields
            var removeFocus = function() {
                var inputs = document.querySelectorAll('input, textarea, select');
                inputs.forEach(function(input) {
                    input.blur();
                });
            };

            // Call removeFocus to ensure no initial focus
            removeFocus();

            // Function to set focus on a specific element
            var setFocus = function(selector) {
                var element = document.querySelector(selector);
                if (element) {
                    element.focus();
                }
            };

            // Example: Set focus on the first input in the Basic Information section
            setFocus('#basic-information');
        });
    </script>
{% endblock %}
