<!-- project_detail.html -->
{% extends 'profile/base.html' %}
{% load bootstrap4 %}

{% block main %}
<div class="container mt-5" >
    <h1>{{ project.title }}</h1>
    <p><strong>Name:</strong> {{ project.name }}</p>
    <p><strong>Date:</strong> {{ project.date }}</p>
    <p><strong>Description:</strong> {{ project.description }}</p>
    {% if project.image %}
    <img src="{{ project.image.url }}" alt="Project Image" class="float-center" style="width: 100px;">
    {% endif %}

    {% if project.status == 'active' %}
    <div class="mt-4">
        <a href="{% url 'details_page' project_id=project.id %}" class="btn btn-primary">View Project</a>
        <a href="{% url 'update_project' project_id=project.id %}" class="btn btn-warning">Update</a>
        {% if request.user == project.creator %}
        <form id="cancelForm" action="{% url 'cancel_project' project.id %}" method="POST" class="d-inline">
            {% csrf_token %}
            <button type="button" class="btn btn-danger" onclick="confirmCancellation()">Cancel</button>
        </form>
        {% endif %}
        {% if request.user == project.creator %}
        <form id="completeForm" action="{% url 'complete_project' project.id %}" method="POST" class="d-inline">
            {% csrf_token %}
            <button type="button" class="btn btn-success" onclick="confirmCompletion()">Complete</button>
        </form>
        {% endif %}
    </div>
    {% elif project.status == 'completed' %}
    <div class="mt-4">
        <a href="{% url 'details_page' project_id=project.id %}" class="btn btn-primary">View Project</a>
    </div>
    {% else %}
    <div class="mt-4">
        <b>You cannot update the cancelled project.</b>
    </div>
    {% endif %}
</div>

<script>
function confirmCancellation() {
    if (confirm("Are you sure you want to cancel this project?")) {
        document.getElementById("cancelForm").submit();
    }
}

function confirmCompletion() {
    if (confirm("Are you sure you want to mark this project as completed? This action cannot be undone. once a project is completed it cannot be updated.")) {
        document.getElementById("completeForm").submit();
    }
}
</script>
{% endblock %}
