{% extends "base.html" %}

{% block title %}
    Project Detail
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ project.title }}</h1>
    <p><strong>Name:</strong> {{ project.name }}</p>
    <p><strong>Date:</strong> {{ project.date }}</p>
    <p><strong>Creator:</strong> {{ project.creator.username }}</p>
    <p><strong>Email:</strong> <a href="mailto:{{ project.email }}">{{ project.email }}</a></p>
    {% if project.Github_link %}
        <p><strong>Github:</strong> <a href="{{ project.Github_link }}" target="_blank">Visit GitHub</a></p>
    {% endif %}
    {% if project.project_url %}
        <p><strong>Project URL:</strong> <a href="{{ project.project_url }}" target="_blank">Visit Project</a></p>
    {% endif %}
    <p><strong>Description:</strong> {{ project.description }}</p>
    {% if project.image %}
        <img src="{{ project.image.url }}" alt="Project Image">
    {% endif %}
    <p><strong>Status:</strong> {{ project.get_status_display }}</p>
</div>
{% endblock %}
