/* Style the form container */
.user-creation-form {
  margin: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgb(47, 45, 45);
}

/* Style form headings */
.user-creation-form h2 {
  font-size: 17px;
  margin-bottom: 20px;
}

/* Style form labels */
.user-creation-form label {
  font-weight: bold;
}

/* Style form input fields */
.user-creation-form input[type="text"],
.user-creation-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

/* Style form submit button */
.submitButton{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Hover effect for submit button */
.submitButton:hover {
  background-color: #0056b3;
}

/* Style error messages */
.user-creation-form .errorlist {
  color: red;
  margin-bottom: 15px;
}

.loginBtn {
  text-align: center;
  margin-top: 20px;
}

.loginBtn b {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px; /* Increase font size for emphasis */
}

.loginBtn a.btn {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase; /* Uppercase text for a formal look */
  padding: 10px 20px; /* Increase padding for better button appearance */
  border-radius: 5px; /* Add border radius for rounded corners */
  background-color: green; /* Use official color scheme */
  border: 1px solid  green; /* Add border for better visibility */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.loginBtn a.btn:hover {
  background-color: yellowgreen; /* Darker shade on hover */
  border-color: yellowgreen; /* Darker border on hover */
}



.navbar .logoutBtn {
  color: #fff !important;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 50%;
  background-color: #dc3545; /* Red color scheme */
  border: 1px solid #dc3545;
  transition: all 0.3s ease;
  margin-left: 10px;
  margin-inline: 10px;
  margin-right: 10px;
}

.navbar .logoutBtn:hover {
  background-color: #c82333; /* Darker shade on hover */
  border-color: #c82333;
   /* Darker border on hover */
}

.navbar h1{
  color: #fff;
  text-decoration: none;
  font-size: medium;
  font-weight: bold;
}


.centered-text1 {
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: blue;
}



/* mpesa css codes*/
.payment-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.payment-form img {
  max-width: 150px;
  display: block;
  margin: 0 auto 20px;
}
.payment-form button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
}
.fade-in {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


