{% extends "base.html" %}

{% block title %}Password Reset Sent{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div>
        <div class="card-body">
          <h2 class="card-title">Password Reset Sent</h2>
          <p class="card-text">We've emailed you instructions for setting your password. You should receive the email shortly.</p>
          <p>incase you don't receive any Email please Reset your password with the email you used to register with us.</p><br>
          <b>This can take upto: <u>20mins</u> we urge you to be patient.</b>
          <p>Thankyou!</p>
          <button class="btn btn-warning"><a href="{% url 'password_reset' %}">Use another Email</a></button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
